@page "/confederaciones"
@inject HttpClient _http;
@inject NavigationManager _navegar;
<h3>Confederaciones</h3>
@if (cargando)
{
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Cargando...</span>
    </div>
}
else
{
    @if (lasconfederaciones.Count > 0)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Logo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Confederacion confederacion in lasconfederaciones)
                {
                    <tr>
                        <td>@confederacion.Nombre_confederacion</td>
                        <td>
                            <img src="@confederacion.Logo" style="width:90px">
                        </td>
                        <td>
                            <button class="btn btn-sm" @onclick="()=>Eliminar(confederacion.Id)"><span class="oi oi-trash"></span></button>
                            <button class="btn btn-sm" @onclick="()=>Modificar(confederacion.Id)"><span class="oi oi-pencil"></span></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h2>No existen clasificaciones registradas</h2>
    }
}


@code {
    private List<Confederacion>? lasconfederaciones = new();
    private bool cargando = true;

    protected override async Task OnInitializedAsync()
    {
        await Cargar();
    }

    private async Task Cargar()
    {
        lasconfederaciones = await _http.GetFromJsonAsync<List<Confederacion>>("api/confederaciones");
        cargando = false;
    }

    private async Task Eliminar(int id)
    {
        cargando = true;
        await _http.DeleteAsync($"api/confederaciones/{id}");
        await Cargar();
    }

    private void Modificar(int id)
    {
        _navegar.NavigateTo($"/confederacion/editar/{id}");
    }
}
