@page "/"

<PageTitle>Index</PageTitle>

<h1>Futbol Rapido</h1>

Bienvenidos a Futbol Rapido, la pagina donde conoceras todo acerca de jugadores, equipos y ligas de futbol.

<SurveyPrompt Title="How is Blazor working for you?" />
